$color-black: #000;
$color-white: #fff;
$color-red: #F44336;
$color-grey-200: #F2F2F2;
$color-grey-250: #E3E3E3;
$color-grey-300: #B4B4B4;
$color-grey-400: #767676;
$color-green: #4DD599;

$animation-time: .3s;

$font-family-roboto: 'Roboto', sans-serif;

$font-size-default: 14px;

$font-weight-regular: 400;
$font-weight-bold: 700;
