$color-black: #000;
$color-white: #fff;
$color-red: #F44336;
$color-grey-200: #F2F2F2;
$color-green: #4DD599;

$font-family-roboto: 'Roboto', sans-serif;

$font-size-default: 14px;

$font-weight-regular: 400;
$font-weight-bold: 700;
